# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle bubble-menu'
      'command': 'bubble-menu:config'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'bubble-menu'
      'submenu': [
        {
          'label': 'Open'
          'command': 'bubble-menu:config'
        }
      ]
    ]
  }
]
